/* headblock */

.headblock{
  background-image: linear-gradient(to right, #be3268c9,#FF1493, #FF1493);
  height: auto;

  
}

/* footerblock */
.footerblock{
  background-image: linear-gradient(to right, rgba(41, 35, 35, 0.774), rgba(36, 1, 1, 0.822));
}
.fontSize{
  font-size: 25px;
  margin-left: 10px
}
.facebook,.linkedin,.github,.pinterest{
  background-color: #be32684f;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 5px;
  
}
a{
  color: white;
}
.btmlog{
  background-image: linear-gradient(to right bottom,rgba(0, 129, 235, 0.76),rgba(0, 129, 235, 0.76), rgba(255, 220, 220, 0.726));
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  height: 50%;
}
